<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
<%- include('./partials/nav') %>
<div class="jumbotron">
    <div class="container">
        <h1>QuickBooks Demo APP</h1>
    </div>
</div>
<div class="container">
    <a class="btn btn-primary" href="/" style="float: right;">Go to Home</a>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>Action</th>
        </thead>
        <tbody>
        <% for(var i=0; i<customers.length; i++) { %>
            <tr>
                <td><%= customers[i].Id%></td>
                <td><%= `${customers[i].GivenName} ${customers[i].FamilyName}` %></td>
                <td>
                    <a class="btn btn-primary" href="/show_invoices/<%= customers[i].Id%>">See Invoice</a>
                    <a class="btn btn-success" href="/create_invoice/<%= customers[i].Id%>">Create Invoice</a>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>